* {
    padding: 0;
    margin: 0;
}
.navigator {
    width: 100%;
    background-color: #0c5d69;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    /* background-color: green; */
}
.booble {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: royalblue; */
}
.booble_left {
    display: flex;
    /* background-color: sandybrown; */
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 12px;
}
.phone {
    display: flex;
    margin-right: 10px;
}
.phone i {
    margin-right: 5px;
}
.location {
    display: flex;
    margin-right: 10px;
}
.location i {
    margin-right: 5px;
}
.clock {
    display: flex;
}
.clock i {
    margin-right: 5px;
}
.booble_right {
    display: flex;
    /* background-color: sandybrown; */
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 12px;
}
.icons i {
    margin-left: 20px;
}
.icons i:hover{
    cursor:pointer;
}
.navigator_mobile {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    background: white;
    line-height: 100px;
    /* z-index: 5; */
}
.bob_mobile {
    width: 100%;
    display: none;
    /* background-color: tomato; */
}
.bob_mobile_left {
    display: inline-block;
    float: left;
}
.bob_mobile_left a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #131313;
}
.bob_mobile_icon {
    position: absolute;
    display: inline-block;
    right: 50px;
    top: 32px;
    border: 1px solid black;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}
.bob_mobile_icon i {
    font-size: 20px;
}
.mobile_navbar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    text-align: center;
    padding: 30px;
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
    overflow-y: scroll;
}
.mobile_navbar_text {
    /* background-color: turquoise; */
    text-align: left;
    margin-bottom: 20px;
}
.mobile_navbar_text a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #131313;
}
.mobile_navbar_button {
    width: 250px;
    height: 50px;
    background-color: #4c4c4c;
    text-align: right;
    line-height: 50px;
}
.mobile_navbar_button button {
    width: 100px;
    height: 35px;
    background-color: #222222;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
}
.mobile_navbar_button button:focus {
    outline: none;
}
.mobile_navbar_button button i {
    margin-left: 5px;
}
.appoint {
    width: 200px;
    height: 50px;
    border: 2px solid #13a2b7;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
}
.appoint a {
    text-decoration: none;
    font-family: cursive;
    color: #111111;
}
.luke {
    margin-top: 30px;
}
.luke_first,
.luke_second,
.luke_third {
    display: flex;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.luke_first i,
.luke_second i,
.luke_third i {
    margin-right: 5px;
    color: #13a2b7;
}
.luke_first p,
.luke_second p,
.luke_third p {
    color: #454c4c;
}
.mobile_navbar_booble_right {
    display: flex;
    /* background-color: sandybrown; */
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 15px;
    margin-top: 30px;
}
.mobile_navbar_booble_right_icons i {
    margin-right: 20px;
}
.close {
    position: relative;
    font-size: 30px;
    left: 110px;
}

.navigator_mobile {
    display: none;
}
.mobile_list {
    width: 250px;
    background-color: #4c4c4c;
}
.mobile_list ul {
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}
.mobile_list ul li {
    width: 180px;
    border-radius: 5px;
    padding: 5px 5px 5px 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}
.mobile_list ul li a {
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}
.mobile_list ul li:hover {
    background-color: #cccccc;
}
.mobile_list ul li:hover a {
    color: #4c4c4c;
}
.mobile_list ul li i {
    margin-left: 5px;
    color: white;
    font-size: 12px;
}
.trouble {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trouble_menu > ul {
    list-style-type: none;
}
.trouble_menu > ul > li {
    display: inline-block;
    padding: 12px 12px 10px 12px;
}
.trouble_menu > ul > li > a {
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    color: #111111;
}
.trouble_menu > ul > li:hover {
    border-bottom: 1px solid blue;
}
.oris {
    position: relative;
}
.oris:hover .trouble_alt_menu {
    opacity: 1;
}
.trouble_alt_menu {
    width: 110px;
    position: absolute;
    top: 55px;
    list-style-type: none;
    padding: 10px;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}
.trouble_alt_menu > li {
    padding: 5px;
}
.trouble_alt_menu > li > a {
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    color: white;
}

.origi {
    position: fixed;
    display: none;
    left: -800px;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    background-color: #4c4c4c;
}
.banner {
    width: 100%;
    /* height: 600px; */
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: right;
    background-position: top;
    /* padding: 100px 60px; */
}
.banner_2 {
    width: 100%;
    /* height: 600px; */
    background-image: url(img/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-size: right;
    background-position: top;
}
.ban{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.banner_2_text{
    width: 200px;
    text-align: center;
}
.banner_2_text h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner_2_text ul{
    list-style-type: none;
    position: relative;
}
.banner_2_text ul li{
    display: inline-block;
    margin-right: 5px;
}
.banner_2_text ul li span{
    color: #4A82AB;
}
.banner_2_text ul li .pot{
    font-size: 3px;
    color: white;
    position: absolute;
    margin-top: -5px;
}
.banner_2_text ul li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #fff;
}

.banner_text {
    width: 500px;
    height: 450px;
    padding: 150px 0 0 15px;
    /* margin-bottom: 50px;   */
    /* border: 1px solid red; */
}
.banner_text p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #13a4c6;
    font-weight: bold;
}
.banner_text h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #111111;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.banner_text a {
    text-decoration: none;
    border: 1px solid #13a2b7;
    border-radius: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #13a2b7;
}
.cordinate {
    display: flex;
    /* border: 1px solid gray; */
}
.cordinate_left {
    width: 390px;
    height: 468px;
    background-color: #ffffff;
    margin-top: -80px;
    margin-right: 10px;
    padding: 30px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}
.cordinate_left p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #88889a;
    margin-right: 120px;
}
.cordinate_left h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #111111;
    margin-bottom: 20px;
}
.cordinate_left input:focus {
    outline: none;
}
.cordinate_left input {
    width: 280px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #e8e8e8;
}
.cordinate_left button {
    width: 305px;
    height: 55px;
    border-radius: 10px;
    background-color: #13a2b7;
    color: white;
    font-family: cursive;
}
.cordinate_right {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
}
.left_col {
    width: 390px;
    height: 266px;
    /* background-color: green; */
    margin-right: 10px;
}
.right_col {
    position: relative;
    width: 390px;
    height: 266px;
    /* background-color: greenyellow; */
}
.left_col .wel {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #88889a;
    margin-bottom: 10px;
}
.left_col h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: #111111;
    margin-bottom: 10px;
}
.left_col h2 span {
    color: #13a2b7;
}
.left_col p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #cacaca;
    font-size: 20px;
}
.begin {
    position: absolute;
    right: 40%;
    top: 40%;
    font-size: 60px;
    color: #13a2b7;
}
.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 40px;
}
.off {
    width: 250px;
    height: 40px;
    text-align: center;
}
.off p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #88889a;
}
.off h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #111111;
}
.equipment {
    display: flex;
}
.equipment_left {
    display: flex;
}
.equipment_right {
    display: flex;
}
.bird {
    text-align: center;
}
.bird h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    color: #111111;
}
.bird p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #88889a;
    line-height: 25px;
}
.bird img,
.bird h3 {
    margin-bottom: 20px;
}

.facility {
    width: 100%;
    background-image: url(img/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 90px;
    margin-top: 50px;
}
.facility_top {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa_left p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #1f9ca4;
    font-size: 15px;
}
.fa_left h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: 30px;
}
.fa_right a {
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #13a2b7;
    padding: 15px 30px 15px 30px;
    color: white;
}
.up {
    display: flex;
}
.up_left {
    display: flex;
    width: 550px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.up_right {
    display: flex;
    width: 550px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.up_left_icon i,
.up_right_icon i {
    font-size: 60px;
    color: #14a2b7;
    margin-right: 20px;
}
.up_left_text h3,
.up_right_text h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #111111;
    font-size: 30px;
    margin-bottom: 15px;
}
.up_left_text p,
.up_right_text p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #88889a;
    font-size: 20px;
    line-height: 25px;
}

.down {
    display: flex;
}
.down_left {
    display: flex;
    width: 550px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-right: 30px;
    box-sizing: border-box;
}
.down_right {
    display: flex;
    width: 550px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}
.down_left_icon i,
.down_right_icon i {
    font-size: 60px;
    color: #14a2b7;
    margin-right: 20px;
}
.down_left_text h3,
.down_right_text h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #111111;
    font-size: 30px;
    margin-bottom: 15px;
}
.down_left_text p,
.down_right_text p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #88889a;
    font-size: 20px;
    line-height: 25px;
}
.up_left:hover,
.up_right:hover,
.down_left:hover,
.down_right:hover {
    background-color: #4eb9c9;
}
.up_left:hover .up_left_icon i {
    color: white;
}
.up_left:hover .up_left_text p {
    color: white;
}
.up_left:hover .up_left_text h3 {
    color: white;
}
.up_right:hover .up_right_icon i {
    color: white;
}
.up_right:hover .up_right_text p {
    color: white;
}
.up_right:hover .up_right_text h3 {
    color: white;
}
.down_left:hover .down_left_icon i {
    color: white;
}
.down_left:hover .down_left_text p {
    color: white;
}
.down_left:hover .down_left_text h3 {
    color: white;
}
.down_right:hover .down_right_icon i {
    color: white;
}
.down_right:hover .down_right_text p {
    color: white;
}
.down_right:hover .down_right_text h3 {
    color: white;
}
.expert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 40px;
}
.doc {
    width: 350px;
    height: 40px;
    text-align: center;
}
.doc p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #88889a;
}
.doc h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #111111;
}
.wallpaper {
    display: flex;
    justify-content: center;
}
.all{
    
}
.albom {
    width: 360px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.albom:hover .gif {
    border: 10px solid #13a2b7;
}
.dd {
    margin-right: 30px;
}
.gif {
    width: 270px;
    height: 270px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 11px solid #fff;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    transition: 1ms;
}
.name {
    text-align: center;
}
.name h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #111111;
    font-size: 20px;
    margin-bottom: 8px;
}
.name p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: #90d3fc;
    font-size: 15px;
    margin-bottom: 15px;
}
.name_icons {
    display: flex;
    justify-content: space-around;
}
.name_icons i {
    color: #666666;
    font-size: 15px;
}
.picture{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 338px 338px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.col_end{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}
.lost{
    background-repeat: no-repeat;
    background-size: cover;
}
.col_start{
    background-image: url(img/gallery-1.jpg);
}
.col_2{
    background-image: url(img/gallery-2.jpg);
}
.col_3{
    background-image: url(img/gallery-3.jpg);
}
.col_4{
    background-image: url(img/gallery-5.jpg);
}
.col_5{
    background-image: url(img/gallery-6.jpg);
}
.col_6{
    background-image: url(img/gallery-7.jpg);
}
.col_end{
    background-image: url(img/gallery-4.jpg);
}
.care_tips{
    padding-top: 50px;
}
.care_t {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car_left p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #968B88;
    font-size: 15px;
}
.car_left h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #111111;
    font-size: 30px;
}
.car_right a {
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #13a2b7;
    padding: 15px 40px 15px 40px;
    color: #111111;
    font-family: monospace;
    font-size: 15px;
}
.ts_f{
    display: flex;
    justify-content: space-between;
}
.exercise{
    width: 360px;
    height: 213px;
}
.exercise a{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #111111;
    text-decoration: none;
    font-weight: bold;
}
.exercise a:hover{
    text-decoration: underline;
}
.exercise p{
    font-family:monospace;
    font-size: 18px;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 25px;
}
.exercise ul{
    position: relative;
}
.exercise ul li {
    display: inline-block;
    font-family: monospace;
    color: #ADB09A;
    font-size: 15px;
}
.exercise ul li img{
    border-radius: 50%;
}
.ic_po{
    position: absolute;
    top: 7px;
}
.exercise ul  i{
    font-size: 5px;
}
.exercise ul li{
    margin-left: 10px;
}
.exercise ul li div{
    height: 10px;
    display: flex;
    align-items: flex-start;
}
.exercise .tor img{
    border-radius: 50%;
}
.tor{
    display: flex;
    height: 50px;
    align-items: center;
}

.makrup{
    width: 100%;
    background-color: #121C1D;
}
.footer_logo{
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #1E2829;
}
.footer_logo_top{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo_top a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
}
.sending{
    position: relative;
}
.footer_logo_top .sending input{
    width: 300px;
    height: 50px;
    font-size: 14px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #13a2b7;
    padding-left: 20px;
    border-radius: 50px;
}
.footer_logo_top .sending input:focus{
    outline: none;
}
.footer_logo_top .sending button{
    border-radius: 0 50px 50px 0;
    position: absolute;
    right: -15px;
    top: 0;
    height: 100%;
    font-size: 15px;
    color: #ffffff;
    background: #13a2b7;
    font-weight: 600;
    border: none;
    display: inline-block;
    letter-spacing: 2px;
    padding: 14px 30px 12px;
}
.footer_logo_top .sending button:hover{
    cursor: pointer;
}
.footer_social{
    display: flex;
}
.footer_social a i{
    font-size: 15px;
}
.footer_social a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3334;
    border-radius: 50px;
    margin-right: 10px;
}
.footer_social a:last-child{
    margin-right: 0;
}

.footer_locate{
    display: flex;
    align-items: center;
    height: 400px;
    position:relative;
}
.footer_locate .dream{
    width: 195px;
    height: 229px;
}

.footer_locate .dream_contact{
    width: 380px;
    height: 229px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_locate .dream h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: white;
    margin-bottom: 30px;
}
.footer_locate .dream ul{
    list-style-type: none;
    line-height: 30px;
}
.footer_locate .dream ul li a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c4c4c4;
    font-weight: 300;
}
.footer_locate .dream_contact h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: white;
}
.dr_con_ic{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.dr_con_ic i{
    font-size: 15px;
    color: #127C7D;
    margin-right: 20px;
}
.dr_con_ic p{
    font-family: sans-serif;
    color: #869A95;
}
.xerite{
    position: absolute;
    right: 215px;
}
.footer_end{
    background-color: #12191A;
}
.copyright{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy_left{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c4c4c4;
    font-weight: 300;
}
.copy_right{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c4c4c4;
    font-weight: 300;
}
.copy_right ul{
    position: relative;
}
.copy_right ul li{
    display: inline-block;
    padding: 0 5px 0 5px;
}

.ic_po2{
    position: absolute;
    top: -3px;
    padding-left: 5px;
}
.ic_po2 i{
    font-size: 3px;
}
.privacy{
    padding-left: 0;
}

.copy_left i{
    color: #13A2B7;
    font-size: 12px;
}
.copy_left span{
    color: #13A2B7;
}



.clinic{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clinic_img{
    position: relative;
    width: 555px;
    height: 366px;
    background-image: url(img/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.clinic_list{
    width: 555px;
    height: 366px;
}
.clinic_list h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #88888F;
    margin-bottom: 10px;
}
.clinic_list h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #111111;
    margin-bottom: 30px;
}
.clinic_list p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #88888F;
    margin-bottom: 60px;

}
.clinic_list ul{
    list-style-type: none;
    margin-bottom: 30px;
}
.clinic_list ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #88888F;
    padding-bottom: 10px;
}
.clinic_list ul i{
    font-size: 12px;
    color: #13A2B7;
    margin-right: 15px;
}
.clinic_list a{
    text-decoration: none;
    color: #fff;
    background-color: #13A2B7;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #13a2b7;
    padding: 12px 30px 10px;
    font-weight: 600;
}
.doctor{
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.doctor_left{
    width: 585px;
    height: 490px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}
.down_left_img{
    width: 470px;
    height: 470px;
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0 3px 10px rgb(48 68 78 / 20%);

}
.down_left_img img{
    border-radius: 50%;

}
.doctor_right{
    padding: 20px;
    width: 585px;
    height: 490px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.doctor_right_text{
    width: 555px;
    height: 455px;
}
.doctor_right span{
    color: #3FA2B9;
    font-weight: bold;
}
.doctor_right h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #111111;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.doctor_right p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #88888F;
    margin-bottom: 30px;

}


.doctor_right ul{
    list-style-type: none;
    margin-bottom: 30px;
}
.doctor_right ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #88888F;
    padding-bottom: 10px;
}
.doctor_right ul i{
    font-size: 12px;
    color: #13A2B7;
    margin-right: 15px;
}
.doctor_right_icons{
    display: flex;
}
.deep{
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F2F7F8;
    margin-right: 10px;

}
.doctor_right_icons i{
    color: #111111;
}
.cost{
    display: flex;
    justify-content: space-between;
}
.money{
    width: 360px;
    height: 630px;
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
    box-shadow: rgb(0 61 85 / 10%) 0px 5px 15px;
}
.money_header{
    width: 360px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F5F6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition:all, 0.5s;
}
.money:hover .money_header{
    background-color: #13A2B7;
    height: 200px;
}
.money:hover a{
    background-color: #13A2B7;
    color: #fff;
}

.money:hover .money_header p,.money:hover .money_header h3,.money:hover .money_header span{
    color: #fff;
}
.money_header p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #422D11;
    font-size: 15px;
    font-weight: bold;
}
.money_header h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #13A2B7;
    font-size: 25px;
    font-weight: bolder;
}
.money_header span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #422D11;
    font-size: 15px;
    font-weight: bold;
}
.money_text{
    width: 360px;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.money_text ul{
    list-style-type: none;
}
.money_text ul li h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #888888;
    font-size: 15px;
}
.money_text ul li{
    margin-bottom: 25px;
}
.money_text ul li span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #4C4C4C;
}
.money_text a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 140px;
    height: 40px;
    border: 2px solid #13A2B7;
    border-radius: 5px;
    font-family:monospace;
    font-size: 15px;
    color: #112727;
}
.aligator{
    padding-left: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.alig{
    width: 360px;
    height: 390px;
}
.alig:hover .mours a{
    text-decoration:underline;
}
.alig_img{
    width: 360px;
    height: 240px;
    margin-bottom: 20px;
}
.alig_text{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mours{
    width: 330px;
}
.alig_text a{
    font-family: monospace;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.drop{
    display: flex;
    height: 50px;
    align-items: center;
}
.drop_image{
    border-radius: 50%;
}
.drop_image img{
    border-radius: 50%;
}
.drop ul{
    position: relative;
}
.drop ul li {
    display: inline-block;
    font-family: monospace;
    color: #ADB09A;
    font-size: 15px;
}
.drop ul li img{
    border-radius: 50%;
}
.drop_ic_po{
    position: absolute;
    top: 7px;
}
.drop ul  i{
    font-size: 5px;
}
.drop ul li{
    margin-left: 10px;
}
.drop ul li div{
    height: 10px;
    display: flex;
    align-items: flex-start;
}


/* media queries start */

@media screen and (max-width: 1270px) {
    .cordinate_left {
        width: 300px;
    }
    .left_col {
        width: 300px;
    }
    .right_col {
        width: 300px;
    }
    .right_col img {
        width: 100%;
        height: 100%;
    }
    .footer_locate .dream{
        width: 160px;
        height: 229px;
    }
    .footer_locate .dream iframe{
        width: 320px;
        height: 229px;
    }
    .footer_locate .dream_contact{
        width: 320px;
        height: 229px;
    }
    .xerite{
        right: 160px;
    }
}

@media screen and (max-width: 1268px) {
    .wrapper {
        max-width: 1000px;
    }
    .exercise{
        width: 290px;
        height: 262px;
    }
    .clinic_img{
        width: 480px;
        height: 424px;
    }
    .clinic_list{
        width: 480px;
        height: 424px;
    }
    .doctor_left{
        width: 480px;
    }
    .down_left .down_left_img{
        width: 450px;
    }
    .doctor_right{
        width: 480px;
    }
    .doctor_right .doctor_right_text{
        width: 450px;
    }
    .aligator{
        padding-left: 12px;
    }
    .alig{
        width: 300px;
    }
    .alig .alig_img {
        width: 300px;
    }
    .alig .alig_img img{
        width: 300px;
        height: 240px;
    }
    .mours{
        width: 300px;
    }
}

@media screen and (max-width: 1244px) {
    .wrapper {
        max-width: 950px;
    }
    .cordinate_left {
        width: 290px;
    }
    .left_col {
        width: 290px;
    }
    .right_col {
        width: 290px;
    }
    .equipment {
        flex-wrap: wrap;
    }
    .equipment_left {
        margin-bottom: 30px;
    }
    .footer_locate .dream_contact{
        width: 300px;
        height: 229px;
    }
    .clinic_img{
        width: 430px;
        height: 449px;
    }
    .clinic_list{
        width: 430px;
        height: 449px;
    }
    .clinic_list ul{
        margin-bottom: 50px;
    }
    .cost{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .aligator{
        padding-left: 2px;
    }
}
@media screen and (max-width: 1200px) {
    .lost{
        background-position: center;
    }
}

@media screen and (max-width: 1079px) {
    .wrapper {
        max-width: 800px;
    }
    .trouble_menu > ul > li {
        padding: 10px 10px 10px 5px;
    }
    .cordinate {
        flex-direction: column;
        align-items: center;
    }
    .cordinate_left {
        width: 650px;
        margin-bottom: 60px;
    }
    .cordinate_left p {
        margin-right: 570px;
        width: 270px;
        text-align: left;
    }
    .cordinate_left h3 {
        margin-right: 350px;
    }
    .cordinate_left input {
        width: 630px;
    }
    .cordinate_left button {
        width: 652px;
        font-size: 15px;
    }
    .left_col {
        margin-right: 16px;
    }
    .left_col {
        width: 390px;
    }
    .right_col {
        width: 390px;
    }
    .aa {
        margin-right: 10px;
    }
    .up,
    .down {
        justify-content: center;
    }
    .up_left,
    .up_right,
    .down_left,
    .down_right {
        align-items: flex-start;
        width: 320px;
        height: 280px;
    }
    .wallpaper{
        width: 800px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .albom{
        height: 450px;
    }
    .exercise{
        width: 250px;
        height: 262px;
    }
    .xerite{
        top: 350px;
        left: 40px;
    }
    .footer_locate{
        justify-content: center;
        height: 600px;
        align-items: flex-start;
        padding-top: 50px;
    }
    .footer_locate .dream iframe{
        width: 720px;
        height: 220px;
    }
    .copyright{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 30px;
    }
    .clinic_img{
        width: 350px;
        height: 409px;
    }
    .clinic_list{
        width: 350px;
        height: 409px;
    }
    .doctor_left{
        width: 380px;
    }
    .down_left_img{
        width: 350px;
        height: 350px;
    }
    .down_left_img img{
        width: 350px;
        height: 350px;
    }
    .doctor_right{
        width: 380px;
    }
    .doctor_right .doctor_right_text{
        width: 350px;
    }
    .aligator{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-around;
    }
    .alig{
        width: 390px;
    }
    .alig .alig_img {
        width: 390px;
    }
    .alig .alig_img img{
        width: 390px;
        height: 240px;
    }
    .mours{
        width: 390px;
    }
}

@media screen and (max-width: 860px) {
    .cordinate {
        align-items: center;
    }
    .cordinate_left {
        width: 510px;
        margin-right: 0;
    }
    .cordinate_left input {
        width: 490px;
    }
    .cordinate_left button {
        width: 512px;
    }
    .cordinate_right {
        flex-direction: column;
    }
    .left_col {
        margin-right: 0;
        width: 510px;
        margin-bottom: 10px;
    }
    .right_col {
        width: 510px;
    }
    .right_col img {
        size: inherit;
    }
}
@media screen and (max-width: 850px) {
    .wrapper {
        max-width: 610px;
    }
    .navigator {
        display: none;
    }
    .navigator_mobile {
        display: block;
    }
    .booble {
        height: 100px;
    }
    .booble_left {
        display: none;
    }
    .booble_right {
        display: none;
    }
    .bob_mobile {
        display: block;
    }
    .trouble {
        display: none;
    }
    .cordinate_left {
        width: 500px;
    }
    .cordinate_left input {
        width: 480px;
    }
    .cordinate_left button {
        width: 500px;
    }
    .left_col {
        width: 500px;
    }
    .right_col {
        width: 500px;
    }
    .up,
    .down {
        flex-wrap: wrap;
    }
    .up_left,
    .down_left {
        margin-right: 0;
    }
    .down_left {
        margin-bottom: 30px;
    }
    .up_left,
    .up_right,
    .down_left,
    .down_right {
        align-items: center;
        justify-content: center;
        width: 550px;
        height: 240px;
    }
    .wallpaper{
        width: 610px;
        justify-content: space-between;
    }
    .albom{
        width: 275px;
    }
    .dd{
        margin-right: 0;
    }
    .picture{
        grid-template-columns: 1fr;
        grid-template-rows: 338px 338px 338px 700px 338px 338px 338px;
    }
    .col_end{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1;
    } 
    .lost{
        background-position: inherit;   
    }
    .ts_f{
        flex-wrap: wrap;
    }
    .exercise{
        width: 280px;
        height: 260px;
    }
    .mar_up{
        margin-top: 30px;
    }
    .footer_logo{
        height: 190px;
    }
    .footer_logo_top{
        height: 190px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer_logo_txt{
        margin-right: 30px;
    }
    .footer_social{
        margin-left: 50px;
    }
    .footer_logo_top .sending input {
        width: 360px;
    }
    .footer_locate{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer_locate .dream {
        width: 270px;
        height: 229px;
    }
    .footer_locate .dream_contact{
        width: 270px;
        height: 239px;
        position: relative;
        right: 157px;
        top: -40px;
    }
    .xerite{
        top: 310px;
        left: 300px;
    }
    .footer_locate .dream iframe{
        width: 270px;
        height: 239px;
    }
    .clinic{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .clinic_img{
        width: 540px;
        height: 406px;
        margin-bottom: 30px;
    }
    .clinic_list{
        width: 540px;
        height: 356px;
    }
    .doctor{
        flex-direction: column;
        align-items: center;
    }
   
    .doctor_left{
        width: 585px;
        height: 490px;
    }
    .down_left_img{
        width: 470px;
        height: 470px;
        display: flex;
        justify-content: center;
    }
    .down_left_img img{
        width: 470px;
        height: 470px;
    }
    .doctor_right{
        display: flex;
        justify-content: center;
        width:585px;
        height: 490px;
        text-align: center;
    }
    .doctor_right .doctor_right_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
        height: 450px;
    }
    .cost{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aligator{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 0;
        padding-left:  5px;
    }
    .alig{
        width: 600px;
        height: 500px;
    }
    .alig .alig_img {
        width: 600px;
        height: 300px;
    }
    .alig .alig_img img{
        width: 600px;
        height: 300px;
    }
    .mours{
        width: 600px;
        height: 200px;
    }
}
@media screen and (max-width: 750px) {
    .banner_text {
        width: 350px;
    }
    .banner_text p {
        margin-bottom: 15px;
    }
    .banner_text h1 {
        margin-bottom: 20px;
    }
    .facility_top {
        justify-content: center;
    }
    .fa_left {
        margin-right: 20px;
    }
    .care_t{
        justify-content: center;
    }
    .car_left{
        margin-right: 20px;
    }
}


@media screen and (max-width: 632px) {
    .wrapper {
        max-width: 580px;
    }
    .cordinate_left {
        width: 470px;
    }
    .cordinate_left input {
        width: 430px;
    }
    .cordinate_left button {
        width: 450px;
    }
    .left_col {
        width: 470px;
    }
    .right_col {
        width: 470px;
    }
    .wallpaper{
        width: 580px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .footer_logo{
        height: 250px;
    }
    .footer_logo_top{
        height: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_logo_txt{
        margin-bottom: 30px;
    }
    .footer_social{
        margin-left: 0;
    }
    .footer_logo_top .sending{
        margin-bottom: 30px;
    }
    .footer_logo_top .sending input {
        width: 470px;
    }
    .doctor_left{
        width: 530px;
        height: 490px;
    }
    .down_left_img{
        width: 470px;
        height: 470px;
    }
    .down_left_img img{
        width: 470px;
        height: 470px;
    }
    .doctor_right{
        width:530px;
        height: 490px;
        text-align: center;
    }
    .doctor_right .doctor_right_text{
        width: 510px;
        height: 450px;
    }
    .aligator{
        padding-left: 40px;
    }
    .alig{
        width: 500px;
        height: 500px;
    }
    .alig .alig_img {
        width: 500px;
        height: 300px;
    }
    .alig .alig_img img{
        width: 500px;
        height: 300px;
    }
    .mours{
        width: 500px;
        height: 200px;
    }
}
@media screen and (max-width: 580px) {
    .wrapper {
        max-width: 550px;
    }
    .cordinate_left {
        width: 300px;
    }
    .cordinate_left input {
        width: 270px;
    }
    .cordinate_left button {
        width: 295px;
    }
    .left_col {
        width: 360px;
    }
    .right_col {
        width: 360px;
    }
    .equipment_left {
        flex-wrap: wrap;
    }
    .equipment_right {
        flex-wrap: wrap;
    }
    .aa {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .facility {
        padding-top: 30px;
    }
    .facility_top {
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
        height: 250px;
    }
    .care_tips {
        padding-top: 30px;
    }
    .care_t {
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
        height: 250px;
    }
    .wallpaper{
        width: 550px;
    }
    .ts_f{
        flex-direction: column;
    }
    .exercise{
        width: 538px;
        height: 213px;
        margin-bottom: 20px;
    }
    .mar_up{
        margin-top: 0;
    }
    .footer_locate{
        flex-direction: column;
        justify-content: flex-start;
        height: 1000px;
        padding-left: 10px;
    }
    .footer_locate .dream_contact{
        right: 0;
        top: 0;
    }
    .xerite{
        top: 793px;
        left: 23px;
    }
 .footer_locate .dream iframe{
        width: 500px;
        height: 220px;
    }
    .aligator{
        padding-left: 25px;
    }
   
}
@media screen and (max-width: 550px) {
    .wrapper {
        max-width: 500px;
    }
    .bob_mobile_icon {
        right: 15px;
    }
    .cordinate_left {
        width: 300px;
    }
    .cordinate_left input {
        width: 270px;
    }
    .cordinate_left button {
        width: 290px;
    }
    .left_col {
        width: 360px;
    }
    .right_col {
        width: 360px;
    }
    .up_left,
    .up_right,
    .down_left,
    .down_right {
        width: 400px;
    }
    .wallpaper{
        width: 500px;
    }
    .exercise{
        width: 488px;
        height: 213px;
    }
    .footer_logo_top .sending button{
        top: 80px;
        right: 156px;
        border-radius: 50px;
    }
    .footer_social{
        margin-top: 70px;
    }
    .footer_logo{
        height: 330px;
    }
    .footer_logo_top{
        height: 330px;
    }
    .xerite{
        top: 793px;
        left: 23px;
    }
    .footer_locate .dream iframe{
        width: 450px;
        height: 220px;
    }
    .copy_left{
        text-align: center;
    }
    .clinic_img{
        width: 450px;
    }
    .clinic_list{
        width: 450px;
        height: 400px;
    }
    .doctor_left{
        width: 430px;
        height: 460px;
    }
    .down_left_img{
        width: 430px;
        height: 460px;
    }
    .down_left_img img{
        width: 407px;
        height: 440px;
    }
    .doctor_right{
        width:430px;
        height: 490px;
        text-align: center;
    }
    .doctor_right .doctor_right_text{
        width: 510px;
        height: 450px;
    }
    .aligator{
        padding-left: 15px;
    }
    .alig{
        width: 470px;
        height: 500px;
    }
    .alig .alig_img {
        width: 470px;
        height: 300px;
    }
    .alig .alig_img img{
        width: 470px;
        height: 300px;
    }
    .mours{
        width: 470px;
        height: 200px;
    }
}
@media screen and (max-width: 500px) {
    .wrapper {
        max-width: 450px;
    }
    .wallpaper{
        width: 450px;
    }
    .ts_f{
        align-items: center;
    }
    .exercise{
        width: 428px;
        height: 213px;
    }
    .footer_logo_top .sending input {
        width: 400px;
    }
    .footer_logo_top .sending button{
        right: 140px;
    }
  
 .footer_locate .dream iframe{
        width: 400px;
        height: 220px;
    }
    .clinic_img{
        width: 430px;   
    }
    .clinic_list{
        width: 430px;
    }
    .aligator{
        padding-left: 30px;
    }
    .alig{
        width: 400px;
        height: 500px;
    }
    .alig .alig_img {
        width: 400px;
        height: 300px;
    }
    .alig .alig_img img{
        width: 400px;
        height: 300px;
    }
    .mours{
        width: 400px;
        height: 200px;
    }
}
@media screen and (max-width: 450px) {
    .wrapper {
        max-width: 400px;
    }
    .banner_text {
        width: 300px;
    }
    .banner_text h1 {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .up_left,
    .up_right,
    .down_left,
    .down_right {
        width: 370px;
    }
    .wallpaper{
        width: 400px;
    }
    .exercise{
        width: 310px;
        height: 250px;
    }
    .footer_logo_top .sending input {
        width: 370px;
    }
    .footer_logo_top .sending button{
        right: 117px;
    }
    .footer_locate .dream iframe{
        width: 350px;
        height: 220px;
    }
    .clinic_img{
        width: 380px;   
    }
    .clinic_list{
        width: 380px;
    }
    .doctor_left{
        width: 380px;
        height: 430px;
    }
    .down_left_img{
        width: 400px;
        height: 400px;
    }
    .down_left_img img{
        width: 360px;
        height: 380px;
    }
    .doctor_right{
        width:380px;
        height: 500px;
        text-align: center;
    }
    .doctor_right .doctor_right_text{
        width: 360px;
        height: 460px;
    }
    .aligator{
        padding-left: 25px;
    }
    .alig{
        width: 350px;
        height: 400px;
    }
    .alig .alig_img {
        width: 350px;
        height: 240px;
    }
    .alig .alig_img img{
        width: 350px;
        height: 240px;
    }
    .mours{
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .wrapper {
        max-width: 350px;
    }
    .cordinate_left {
        width: 270px;
    }
    .cordinate_left input {
        width: 250px;
    }
    .cordinate_left button {
        width: 270px;
    }
    .left_col {
        width: 325px;
        margin-bottom: 55px;
    }
    .right_col {
        width: 325px;
    }

    .up_left,
    .up_right,
    .down_left,
    .down_right {
        width: 300px;
        height: 300px;
        align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .up_left_icon i,
    .up_right_icon i,
    .down_left_icon i,
    .down_right_icon i {
        margin-bottom: 30px;
    }
    .wallpaper{
        width: 350px;   
    }
    .albom{
        width: 300px;
        height: 425px;
    }
    .footer_logo_top .sending input {
        width: 300px;
    }
    .footer_logo_top .sending button{
        right: 77px;
    }
    .xerite{
        top: 793px;
        left: 0;
    }
    .footer_locate .dream iframe{
        width: 350px;
        height: 220px;
    }
    .copyright{
        height: 120px;
        align-items: center;
        justify-content: center;
    }
    .copyright{
        text-align: center;
        align-items: center;
    }
    .clinic_img{
        width: 315px; 
        height: 380px;  
    }
    .clinic_list{
        width: 315px;
        height: 430px;
    }
    .doctor_left{
        width: 320px;
        height: 410px;
    }
    .down_left_img{
        width: 320px;
        height: 390px;
    }
    .down_left_img img{
        width: 300px;
        height: 370px;
    }
    .doctor_right{
        width:320px;
        height: 520px;
        text-align: center;
    }
    .doctor_right .doctor_right_text{
        width: 280px;
        height: 480px;
    }
 
    .money{
        width: 300px;
    }
    .money_header{
        width: 300px;
    }
    .money_text{
        width: 300px;
    }
    .aligator{
        padding-left: 25px;
    }
    .alig{
        width: 300px;
    }
    .alig .alig_img {
        width: 300px;
    }
    .alig .alig_img img{
        width: 300px;
        height: 240px;
    }
    .mours{
        width: 300px;
    }
}
@media screen and (max-width: 350px) {
    .wrapper {
        max-width: 320px;
    }
    .banner_text {
        width: 250px;
    }
    .cordinate_left {
        width: 250px;
    }
    .cordinate_left h3 {
        font-size: 35px;
    }
    .cordinate_left input {
        width: 230px;
    }
    .cordinate_left button {
        width: 250px;
    }
    .left_col {
        width: 310px;
    }
    .right_col {
        width: 310px;
    }
    .wallpaper{
        width: 320px;
    }
    .xerite{
        top: 793px;
        left: 5px;
    }
    .footer_locate .dream iframe{
        width: 310px;
        height: 220px;
    }
    .aligator{
        padding-left: 10px;
    }
}
@media screen and (min-width: 850px) {
    .mobile_navbar {
        display: none;
    }
    .origi {
        opacity: 0;
    }
}
